.body {
    background-color: #1976d2;
}

.container {
    background: white;
    padding: 10px 5px;
    border-radius: 5px;
}

.container > * {
    padding: 10px 5px
}

.note-list-container {
    padding: 5px 0;
}

.note-list-item-separator {
    background-color: #1976d2;
    padding: 1px !important;
    margin-top: 5px !important;
}

.note-add-textfield fieldset {
    border-color: #1976d2;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.note-add-textfield input:focus {
    border-color: #1976d2;
}

.note-add-button {
    height: 56px;
    border-color: #1976d2;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-left-width: 0 !important;
}

.sort-icon:after {
    font-size: large;
    padding-left: 3px;
}

.sort-icon-up:after {
    content: "\1F815";
}

.sort-icon-down:after {
    content: " \1F817";
}

.note-complete {
    text-decoration: line-through;
}

.note-priorities {
    display: inline;
}

.note-priorities span {
    opacity: 0.2;
}

.note-priorities span:hover {
    cursor: default;
}

.note-priority-1 :nth-child(1),
.note-priority-2 :nth-child(-n+2),
.note-priority-3 :nth-child(-n+3) {
    opacity: 1;
}

.note-priorities svg {
    opacity: 0.2;
    color: black;
    padding: 0 2px;
}
